{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="dashboard-container">
    {% if user.is_authenticated %}
    <h2 class="text-center">Welcome to your dashboard {{ user }}</h2>
    <p class="text-center">Check out all your current run uplaods and stats!</p>
    {% endif %}
    <!-- User Stats Summary -->
    <div class="container-fluid">
        <div class="row stats-overview m-2">
            <div class="col stat-card m-2">
                <h3>Total Tokens</h3>
                <div class="stat-value">{{ total_tokens }}</div>
            </div>
            <div class="col stat-card m-2">
                <h3>Total Distance</h3>
                <div class="stat-value">{{ total_kilometers }}km</div>
            </div>
            <div class="col stat-card m-2">
                <h3>Quests Completed</h3>
                <div class="stat-value">{{ total_completions }}</div>
            </div>
            <div class="col stat-card m-2">
                <h3>Personal Bests</h3>
                <div class="stat-value">{{ personal_bests }}</div>
            </div>
        </div>
    </div>

    <!-- Recent Completions Table -->
    <div class="recent-quests m-5">
        <h4>Recent Quest Completions</h4>
        <div class="table-responsive">
            <table id="questTable">
                <thead>
                    <tr class="tr-dashboard">
                        <th class="th-dashboard">Quest</th>
                        <th class="th-dashboard">Date</th>
                        <th class="th-dashboard">Time</th>
                        <th class="th-dashboard">Pace</th>
                        <th class="th-dashboard">Tokens</th>
                        <th class="th-dashboard">Status</th>
                        <th class="th-dashboard">Actions</th>
                    </tr>
                </thead>

                <tbody id="questTableBody">
                    <!-- dashboard.js will populate this -->
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block extras %}
<!-- Page Specific Javascirpt -->
<script>
    // Pass the URL to a global variable
    const DASHBOARD_DATA_URL = "{% url 'dashboard_data' %}";
</script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}