{% extends "base.html" %}
{% load static %}
{% block content %}

<main class="flex-shrink-0 main-bg">

    <section>
        <div class="container-fluid hero-section">
            <div class="row align-items-center">

                <div class="col-12 col-md-6 p-5 headingtext_wrapper">
                    <h1 class="headingtext">Every Run Tells Your Story</h1>
                    <br>
                    <p class="introtext">Your running journey is about to become something extraordinary. This isn't
                        just another fitness app - this is where your personal legend begins.</p>
                    <p class="introtext">Are you ready to transform your runs into legendary journeys?</p>
                    <br>
                    {% if user.is_authenticated %}
                    <a class="sign-up-button" href="{% url 'quests' %}">To Quests</a>
                    {% else %}
                    <a class="sign-up-button" href="{% url 'account_signup' %}">Sign Up</a>
                    {% endif %}
                </div>

                <div class="col-12 col-md-6 p-2 text-center">
                    <img class="img-fluid hero-image" src="{% static 'media/images/hero_image.png'%}" alt="Hero Image">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row wrapper_totals">
                <div class="col-sm-12 col-md-4 container_totals d-flex justify-content-center align-items-center">
                    <span class="num p-3" data-val="400">000</span>
                    <h2 class="text">Kilometers<br>Run</h2>
                </div>

                <div class="col-sm-12 col-md-4 container_totals d-flex justify-content-center align-items-center">
                    <span class="num p-3" data-val="340">000</span>
                    <h2 class="text">Total<br>Time</h2>
                </div>

                <div class="col-sm-12 col-md-4 container_totals d-flex justify-content-center align-items-center">
                    <span class="num p-3" data-val="225">000</span>
                    <h2 class="text">Quests<br>Completed</h2>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid info_cards">

            <div class="row">
                <div class="col-sm-4 mb-4 d-flex justify-content-center">
                    <div class="p-4 home_boxes">
                        <h2>Earn as You Run!</h2>
                        <p>For every kilometer you complete, you'll earn 10 tokens to celebrate your achievements. But
                            there's more—boost your earnings with bonus multipliers! Hit specific pace targets or
                            conquer challenging routes to multiply your tokens and make your efforts even more
                            rewarding. Push yourself and watch your token stash grow!</p>
                    </div>
                </div>

                <div class="col-sm-4 mb-4 d-flex justify-content-center">
                    <div class="p-4 home_boxes">
                        <h2>Embark on Running Adventures!</h2>
                        <p>Take on unique running routes across Cornwall, tailored for all skill levels. Complete these
                            quests to not only explore breathtaking landscapes but also earn rewards. Whether it's a
                            coastal sprint or a scenic trail jog, each quest adds a memorable chapter to your running
                            journey.</p>
                    </div>
                </div>

                <div class="col-sm-4 mb-4 d-flex justify-content-center">
                    <div class="p-4 home_boxes">
                        <h2>Rise to the Top!</h2>
                        <p>See how you rank among other runners! Our leaderboards spotlight the top performers and
                            inspire friendly competition. Compete with friends or strive for personal bests while
                            keeping the spirit of community alive. Who will be Cornwall's ultimate running champion?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <hr class="spliter"> -->
    <section class="carousel-section d-flex justify-content-center my-4">
        <div id="questCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for quest in quests %}
                <button type="button" 
                    data-bs-target="#questCarousel" 
                    data-bs-slide-to="{{ forloop.counter0 }}" 
                    class="{% if forloop.first %}active{% endif %}"
                    aria-current="{% if forloop.first %}true{% endif %}"
                    aria-label="Slide {{ forloop.counter }}">
                </button>
                {% endfor %}
            </div>
            
            <!-- Carousel images + text  -->
            <div class="carousel-inner">
                {% for quest in quests %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ quest.map_route.url }}" class="d-block w-100" alt="{{ quest.title }}">

                    <div class="carousel-caption d-md-block">
                        <h5>{{ quest.title }}</h5>
                        <p class="hidden">{{ quest.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
          
            <button class="carousel-control-prev" type="button" data-bs-target="#questCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#questCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
</main>
{% endblock %}