{% extends 'base.html' %}
{% load static %}

{% block content %}

<section>
    <div class="containter-fluid">
        <div class="row">
            <div class="col">
                <h1>Global Leaderboard</h1>
                <p>Welcome to the global leader board - checkout how your overall stats compare to others!</p>
            </div>
            <div class="col">
              
            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
</section>

{% endblock %}
