{% extends 'base.html' %}
{% load static %}

{% block content %}

<section>
    <div class="containter">
        <div class="row m-2">
            <div class="col text-center">
                <h1>Global Leaderboard</h1>
                <p>Welcome to the global leader board - checkout how your overall stats compare to others!</p>
            </div>
        </div>
    </div>
    <div class="recent-quests m-5">
        <div class="table-responsive">
            <table class="global-leaderboard-item">
                <thead>
                    <tr>
                        <th class="th-leaderboard">
                            Place
                        </th>
                        <th class="th-leaderboard">
                            User
                        </th>
                        <th class="th-leaderboard">
                            Overall<br>Tokens
                        </th>
                        <th class="th-leaderboard">
                            Overall<br>Distance
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in leaderboard_data %}
                    {% if forloop.first %}
                    <tr class="first-place">
                        <td class="td-leaderboard"><strong>{{ forloop.counter }}</strong></td>
                        <td class="td-leaderboard"><strong>{{ entry.runner__username }}</strong></td>
                        <td class="td-leaderboard"><strong>{{ entry.total_tokens }}</strong></td>
                        <td class="td-leaderboard"><strong>{{ entry.total_distance|floatformat:0 }}</strong></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="td-leaderboard">{{ forloop.counter }}</td>
                        <td class="td-leaderboard">{{ entry.runner__username }}</td>
                        <td class="td-leaderboard">{{ entry.total_tokens }}</td>
                        <td class="td-leaderboard">{{ entry.total_distance|floatformat:0 }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
   
</section>

{% endblock %}