{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for quest in quests %}
                <div class="col-md-4">
                    <div class="card-body">
                        <div class="image-container">
                            {% if "placeholder" in quest.featured_image.url %}
                            <img class="card-img-top" src="{% static 'media/images/logofinal.svg' %}"
                                alt="placeholder image">
                            {% else %}
                            <img class="card-img-top" src=" {{ quest.map_route.url }}" alt="{{ quest.title }}">
                            {% endif %}

                            <div class="image-flash">
                                <h2 class="difficulty">{{ quest.difficulty}}
                                </h2>
                            </div>
                            <a href="{% url 'quest_post' quest.slug %}" class="post-link">
                                <h2 class="card-title">{{ quest.title }}</h2>
                                <p class="card-text">{{ quest.description }}</p>
                            </a>

                            <hr />
                            <p class="card-text h6">{{ quest.distance }} km
                            </p>
                        </div>

                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }} " class="page-link"> &laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}