{% extends "base.html" %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}

<section>
    <div class="main-container container-fluid">
        <h1 class="quest-header">{{quest.title}}</h1>

        <div class="map_wrapper">
            {% if "placeholder" in quest.map_route.url %}
            <img class="card-img-top" src="{% static 'media/images/logofinal.svg' %}" alt="placeholder image">
            {% else %}
            <img class="card-img-top" src="{{ quest.map_route.url }}" alt="{{ quest.title }}">
            {% endif %}
        </div>
        <div class="quest-post-header">
            <h3 class="text-center">The Details:</h3>
        </div>
        <div class=" stats-grid">
            <!-- First Row displaying data from QuestPost -->
            <div class="row d-flex justify-content-center mt-3">
                <div
                    class="col-12 col-md-6 col-lg-3 stat-card p-3 m-3 d-flex flex-column justify-content-center align-items-center">
                    <h3>Total Distance</h3>
                    <p>{{ quest.distance }} km</p>
                </div>
                <div
                    class="col-12 col-md-6 col-lg-3 stat-card p-3 m-3 d-flex flex-column justify-content-center align-items-center">
                    <h3>Elevation Max</h3>
                    <p>{{ quest.elevation_max }} m</p>
                </div>
                <div
                    class="col-12 col-md-6 col-lg-3 stat-card p-3 m-3 d-flex flex-column justify-content-center align-items-center">
                    <h3>Elevation Gain</h3>
                    <p>{{ quest.elevation_gain }} m</p>
                </div>
                <div
                    class="col-12 col-md-6 col-lg-3 stat-card p-3 m-3 d-flex flex-column justify-content-center align-items-center">
                    <h3>Description</h3>
                    <p>{{ quest.description }}</p>
                </div>
                <div
                    class="col-12 col-md-6 col-lg-3 stat-card p-3 m-3 d-flex flex-column justify-content-center align-items-center">
                    <h3>Total Quests Completed</h3>
                    <p>{{ quest_count }}</p>
                </div>
            </div>
        </div>
        <!-- Second Row displaying data form QuestRecord -->
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-7 leaderboard m-3">
                <h2>Leaderboard</h2>
                {% for record in quest_record %}
                <div class="leaderboard-item">
                    <span>{{ record.runner }}</span>
                    <span>{{ record.tokens_earned }}</span>
                </div>
                {% endfor %}

            </div>
            <div
                class="col-lg-4 col-md-3 stat-card m-2 upload-section  d-flex flex-column justify-content-center align-items-center">
                <h2>Upload Your Run</h2>
                <p>Add your time:</p>
                <button class="btn run-upload btn-global" data-bs-toggle="modal"
                    data-bs-target="#uploadRunModal">Upload
                    Run</button>
            </div>
        </div>
    </div>
</section>


<!-- Run upload modal-->

<div id="run-upload-modal">
    <div class="modal fade" id="uploadRunModal" tabindex="-1" aria-labelledby="uploadRunModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadRunModalLabel">Upload Your Run</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {% if user.is_authenticated %}
                <div class="modal-body">
                    <form id="uploadRunForm" method="post">
                        {{ quest_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn run-upload btn-global">Submit</button>
                    </form>
                </div>
                {% else %}
                <p>Login to upload your run</p>
                <div class="modal-body">
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Delete modal -->

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="uploadRunModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete your run?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove this run?
                This action cannot be undone!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-global" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn
                btn-global">Delete</a>
            </div>
        </div>
    </div>
</div>


<!-- Completed QuestRecord Details -->
<section>
    <div class="container-fluid">
        <div class="quest-post-header">
            <h3 class="text-center">Completed Runs:</h3>
        </div>
        <div class="completed-runs m-4">
            <div class="row d-flex justify-content-center">
                {% for run_upload in quest_record %}
                <div
                    class="col-sm-12 col-md-6 col-lg-3 run-upload-card m-4 {% if not run_upload.approved and run_upload.runner == user %}faded{% elif not run_upload.approved %}d-none{% endif %}">
                    <div>
                        <p>{{ run_upload.runner }} | {{ run_upload.completion_date }}</p>
                        <div id="run_upload{{ run_upload.id }}">
                            Completed in: {{ run_upload.completion_time }} - Earning: {{ run_upload.tokens_earned }}
                        </div>
                        {% if not run_upload.approved and run_upload.runner == user %}
                        <p class="approval">
                            This quest completion is waiting for approval
                        </p>
                        {% endif %}
                        {% if user.is_authenticated and run_upload.runner == user %}
                        <button class="btn btn-edit" data-comment_id="{{ run_upload.id }}">Edit</button>
                        <button class="btn btn-delete" data-comment_id="{{ run_upload.id }}">Delete</button>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block extras %}
<script src="{% static 'js/modal_script.js' %}"></script>
{% endblock %}